@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  margin-top: 10px;
  text-align: center;
  font-family: 'Press Start 2P', sans-serif;
  background: black;
  color: white;
}

#sign-in, #sign-up, #change-password {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-top: 50px;
  input, button {
    margin-top: 10px;
  border-radius: 5px;
  }
}

#play-game, #sign-out {
  margin: 10px;
  display: inline-block;
  justify-content: space-between;
  width: 230px;
  border-radius: 5px;
}

#board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: blue;
  height: 490px;
  width: 490px;
  margin: 0 auto;
  margin-top: 50px;
  align-items: center;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 160px;
    width: 160px;
    margin-bottom: 5px;
    font-size: 70px;
    color: yellow;
  }
  div:hover {
    background: gray;
  }
}

.btn {
  padding: 0;
  align-content: center;
  background: lightgrey;
  height: 25px;
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 30px;
  }
  h4 {
    font-size: 20px;
  }

  #play-game, #sign-out {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    width: 50%;
    border-radius: 5px;
  }
  #play-game {
    margin-right: -8px;
  }
  #sign-out {
    margin-left: -8px;
  }
  #board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: blue;
    height: 360px;
    width: 360px;
    margin: 0 auto;
    margin-top: 50px;
    align-items: center;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: black;
      height: 118px;
      width: 118px;
      margin-bottom: 5px;
      font-size: 50px;
      color: yellow;
    }
    div:hover {
      background: gray;
    }
  }
}
